@model IEnumerable<WebApplication1.Models.Pago>

@{
    ViewData["Title"] = "PorPago";
}

<h1>Pagos @ViewBag.Inquilino.NombreI </h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.id_Inquilino">Create Nuevo pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
