@model IEnumerable<WebApplication1.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImporteMensual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoContrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Contrato)
            </td>
            <td>
                @(item.Inquilino.NombreI + " " + item.Inquilino.ApellidoI)
            </td>
            <td>
                @(item.Inmueble.Id_Inmueble + " " + item.Inmueble.DireccionInm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImporteMensual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoContrato)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id_Contrato }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id_Contrato }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id_Contrato })
            </td>
        </tr>
}
    </tbody>
</table>
