@model IEnumerable<WebApplication1.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DniI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DomicilioI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OficioI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DniG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DomicilioG)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Inquilino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DniI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomicilioI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OficioI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DniG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomicilioG)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_Inquilino }) |
                @Html.ActionLink("Mis pagos", "PorPago","Pago", new { id = item.Id_Inquilino }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_Inquilino })
            </td>
        </tr>
}
    </tbody>
</table>
